body {
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://mms.businesswire.com/media/20210804005322/en/896216/23/Deel_Logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }
  
  .autocomplete-container {
    position: relative;
    width: 300px;
  }
  
  .autocomplete-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid coral;
  }
  
  .autocomplete-input:focus {
    outline: none; /* Remove the black border on focus */
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 3px solid coral;
  }
  
  .autocomplete-options {
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
  
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .autocomplete-options::-webkit-scrollbar {
    display: none;
  }
  
  .autocomplete-option {
    cursor: pointer;
    padding: 8px;
  }
  
  .autocomplete-option:hover {
    background-color: #f0f0f0;
  }
  
  mark {
    background-color: yellow;
    color: #333;
    font-weight: bold;
  }
  